[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==19.10b0"
coverage = "==4.3"
codeclimate-test-reporter = "==0.2.3"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
